/* Team Page */

.team-page {
    padding: 20px 0;
    min-height:100%;
}

.board-item {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px 10px;
}


.board-item-list{
    margin:50px 0 0 0;
}
