/* Summary */

.summary {
    padding: 20px 0;
    min-height: 100%;
}

.summary .panel-body{
    min-height: 50vh;
}

.status-item{
  display:table;
  margin:0 auto;
  width: 100%;
}

.status-list ul{
display: table-row;

}
.status-list ul:nth-child(2n+1) li{
background-color: #f7f7f7; 
}


.status-list ul li{
  display: table-cell;
  border: 1px solid #f7f7f7;
  width:45%;
  padding: 10px;
}

@media (max-width: 991px){
    .summary .panel-body{
        min-height: 10vh;
    }
}
