/* Team Directories */

.create-team {
    padding: 20px 0;
    min-height: 100%;
}

.team-item-list{
    margin:20px 0;
}

.team-item .panel .panel-header{
    padding: 10px;
}

.team-item h3{
    margin: 0;
}
